* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  position: relative;
}

.canvas-wrapper {
  position: relative;

  /* will be set in JS */
  /* width: 50000px; */
  /* height: 2500000px; */
}

.excel-canvas {
  position: sticky;
  top: 25px;
  left: 50px;

  z-index: 10;
  background-color: transparent;
}

.header-canvas {
  position: fixed;
  top: 0;
  left: 50px;

  z-index: -10;
  background-color: transparent;
}

.index-canvas {
  position: fixed;
  top: 25px;
  left: 0;

  z-index: -10;
  background-color: transparent;
}
