* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.canvas-container {
  margin-top: 43px;
  width: 100vw;
  height: calc(100vh - 43px);
  overflow: scroll;
  position: relative;
}

.excel-header {
  display: flex;
  gap: 20px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
}

.statistics {
  display: flex;
  gap: 12px;
}

.excel-header button {
  cursor: pointer;
}

.canvas-wrapper {
  position: relative;
  cursor: cell;
}

.select-all-canvas {
  position: fixed;
  top: 43px;
  left: 0;
  width: 50px;
  height: 25px;
  z-index: -10;
  background-color: #f3f3f3;
}

.grid-canvas {
  position: fixed;
  top: 68px;
  left: 50px;

  z-index: -30;
  background-color: transparent;
}

.header-canvas {
  position: fixed;
  top: 43px;
  left: 50px;

  z-index: -10;
  background-color: transparent;
}

.index-canvas {
  position: fixed;
  top: 68px;
  left: 0;

  z-index: -10;
  background-color: transparent;
}

.cell-input {
  position: fixed;
  z-index: -20;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  display: none;
  background-color: transparent;
}

.excel-context-menu {
  background: white;
  border: 1px solid #ccc;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
  min-width: 160px;
}

.excel-context-menu > div {
  padding: 6px 12px;
  cursor: pointer;
}

.excel-context-menu > div:hover {
  background: #f0f0f0;
}
